<div class="modal-header">
  <div class="modal-title">查看视频 {{ record.id }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i" [col]="2">
  <sv label="标题">{{i.title}}</sv>
  <sv label="分类">{{i.category}}</sv>
  <sv label="是否免费">{{i.free}}</sv>
  <sv label="封面图片">{{i.image}}</sv>
  <sv label="URL">{{i.url}}</sv>
  <sv label="创建时间">{{i.createDate | date: 'yyyy-MM-dd HH:mm'}}</sv>
  <sv label="状态">{{i.state}}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
